.special-product
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    position: relative
    margin-bottom: 15px
    &::before
        position: absolute
        top: 50%
        transform: translateY(-50%)
        content: ''
        width: 100%
        height: 1px
        background-color: $primary
    &__link
        display: block
        position: relative
        background-color: $primary
        color: $white
        font-size: 20px
        padding: 2px 16px
        transition: linear 0.3s
        &:hover
            cursor: default
        &::before
            position: absolute
            top: 0
            left: -25px
            content: ''
            width: 0
            height: 0
            border-top: 25px solid transparent
            border-bottom: 25px solid transparent
            border-right: 25px solid $primary
        &::after
            position: absolute
            top: 0
            right: -25px
            content: ''
            width: 0
            height: 0
            border-top: 25px solid transparent
            border-bottom: 25px solid transparent
            border-left: 25px solid $primary
.home__banner
    &-img
        position: relative
        width: 100%
        height: 0
        padding-top: 33.8%
        overflow: hidden
