@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap')
// color
$text-color: #333

$primary: #08346D
$primary_1: #084391
$primary_2: #0A58B8
$primary_3: #0D62D3
$primary_4: #1978F6 // primary
$primary_5: #498FF8
$primary_6: #7AB1FA
$primary_7: #AACEFD
$primary_8: #DDEBFE
$primary_9: #f7f9fc

$accent: #65010E
$accent_1: #980102
$accent_2: #C40908
$accent_3: #C40908
$accent_4: #FE3650
$accent_8: #FFE1E4

$white: #fff
$white_1: #ebebeb
$white_2: #f1f1f1
$white_3: #999

$black: #000
$black_1: #bbbbbb
$black_2: #414141
$black_3: #3D495C

$light-blue: #667799
$light-blue_2: #F7F9FC 
// font
$primary_font_family: 'Open Sans', sans-serif

// in px
$header-height: 70px